body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #0f0c29, #1a103d, #2a0a3d);
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

/* TÍTULO */
h1 {
  margin-top: 40px;
  font-size: 2.5rem;
  color: #c084fc;
  text-shadow: 0 0 10px #a855f7;
}

/* LISTA */
.musicas {
  list-style: none;
  padding: 0;
  max-width: 500px;
  margin: 40px auto;
}

/* CARD DAS MÚSICAS */
.musicas li {
  background: rgba(255, 255, 255, 0.05);
  margin: 12px 0;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid rgba(168, 85, 247, 0.2);
}

/* HOVER */
.musicas li:hover {
  transform: scale(1.03);
  background: rgba(168, 85, 247, 0.2);
  box-shadow: 0 0 15px #a855f7;
}

/* TEXTO TOCANDO */
#tocando {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #e9d5ff;
}


.player-box {
  margin: 40px auto;
  padding: 20px;
  width: 300px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.3);
}

.player-box h2 {
  color: #c084fc;
  margin-bottom: 20px;
}

.controles button {
  background: #a855f7;
  border: none;
  color: white;
  font-size: 18px;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.controles button:hover {
  background: #9333ea;
  transform: scale(1.1);
}